.text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-left: 35rem;
}

.text ul{
   
    margin: 1rem;
    list-style: none;
    display:flex;
    gap: 20px;
    display: flex;
    justify-content: space-between;
 
    
}

.li input:focus{
    outline:none;
}

.row{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.container a{
    float: right;
   justify-items:flex-start ;
   float:inline-start;
   
}

.card{
    overflow:hidden;
    box-shadow:  0px 0px 20px -5px;
    transition: 0.5s;
    animation: ease-in;
}

.card:hover{
transform:scale(1.05);
box-shadow:  0px 0px 20px 0px;

}

.card-title{
    display: flex;
    justify-content: space-between;
    
    
}
#addAcademybtn{
    background-color: green;
    color: white;
}

#addAcademybtn:hover{
    background-color: green;
    color: black;
}

