

  .border-box{
    margin-left:27rem ;
    width: 650px;
      height: 320px;
      background-color: #f2f2f2;
      border: 1px solid #ccc;
      padding: 20px;
      box-sizing: border-box;
      position: relative;
      top: 10px;
}
/* data modified*/

label {
    justify-self: end;
  }

  .top{
    position: relative;
  top: -315px;
  }
  .left{
    position: relative;
    left:-370px;
    top: -250px;

  }
  .calendar{
    position: relative;
    left:-740px;
    top:-190px;
    
  }

  .text-left{
    position: relative;
    top:-60px;
    left:530px;

  }
  
  