#navbar1 {

  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
  width: 100%;

}

.navbar-brand {
  margin-left: 2rem;
  margin-right: 2rem;
  text-decoration: none;
  font-size: larger;

}

.navbar-brand:hover {
  margin-left: 0.5rem;
  color: white
}

#navbarNav {
  display: flex;
  justify-content: space-between;
  font-size: larger;
  color: white;
  margin-left: 1rem;
  gap: 1rem;
  margin-right: 1rem;
}

.collapse>ul>li>link {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}